<article class="ss flex flex-col p-4 basis-1/4 bg-white rounded-sm shadow">
    <span class="text-gray-400 text-xs">{{note.date_created}}</span>
    <h4 class="text-gray-600 mt-2">{{note.title}}</h4>
    <p class="text-xs text-gray-400 mt-4  ">
        {{note.body}}
    </p>
    <div class="flex gap-1 text-gray-500 text-[0.6rem] mt-4 flex-wrap">
        {% for tag in note.tags.all %}
        <span class="rounded-sm p-1 bg-gray-700 text-white">{{tag.name}}</span>
        {% endfor %}
    </div>
</article>